*{
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    height: 600px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-evenly;
    background-color:#007AAA;
    align-items: center; 
}

#interactive {
    width: 600px;
    height: 600px;
    position: relative;
    flex-grow: 0;
}

#content {
    flex-grow: 0;
    height: 200px;
    width: 275px;
    position: relative;
    flex-grow: 1;
    padding: 30px;
}

#center {
    width: 100px;
    height: 100px;
    left: 250px;
    top: 250px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

#first-orbit{
    width: 500px;
    height: 500px;
    border: 2px solid silver;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
}

#second-orbit{
    width: 300px;
    height: 300px;
    border: 2px solid silver;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 150px;
}

.satellite {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    transform-origin: center;
}

.satellite.first-orbit {
    left: 250px;
    top: -25px;
    transform-origin: 0 275px;
}

.satellite.second-orbit {
    left: 125px;
    top: -25px;
    transform-origin: 25px 175px;
}

@media (max-width: 900px) {
    #container {
        flex-direction: column; 
        height: 1200px;
    }
    #content {
        width: 600px;
        margin-top: 100px;
        text-align: center;
    }
}